{% extends "base.html"%}
{%block content%}

{% if user.is_authenticated %}
    <form method="post", enctype="multipart/form-data">
        {% csrf_token %}

        <table>
            {{add_local_form.as_table}}
        </table>
        

        <button type="submit" value="Adicionar" class="btn btn-primary">
            Adicionar
        </button>


    </form>
{% else %}
    <h1>FACA LOGIN PARA ADICIONAR CARROS</h1>
    <button type="submit" value="Adicionar" class="btn btn-primary">
        <a href="{% url 'login_view' %}">Login</a>
    </button>

{% endif %}

{% endblock%}