{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <section id="home" class="welcome-hero">
        <div class="container">
            <div class="welcome-hero-txt">
                <h2>Roles no Nordeste<br> só rolê doido </h2>
                <p>
                    encontre os melhores lugares, Restaurantes, Hoteis e tudo o que voce pode imaginar com apenas um clique.
                </p>
            </div>
            <div class="welcome-hero-serch-box">
                <div class="welcome-hero-form">
                    <div class="single-welcome-hero-form">
                        <h3>O que?</h3>

                        <form method="GET" action="{% url 'lugares_view' %}">
                            <input type="text" name="search" placeholder="Ex: Lazer, Restaurante, Esportes" />
                        </form>
                        <div class="welcome-hero-form-icon">
                            <i class="flaticon-list-with-dots"></i>
                        </div>
                    </div>
                    <div class="single-welcome-hero-form">
                        <h3>Cidade</h3>
                        <form method="GET" action="{% url 'cities_view' %}">
                            <input type="text" name="search" placeholder="Ex: Joao Pessoa, Campina grande" />
                        </form>
                        <div class="welcome-hero-form-icon">
                            <i class="flaticon-gps-fixed-indicator"></i>
                        </div>
                    </div>
                </div>
                <div class="welcome-hero-serch">
                    <button class="welcome-hero-btn" type="submit" >
                         Buscar   
                    </button>
                </div>
            </div>
        </div>

    </section><!--/.welcome-hero-->
<!--list-topics start -->
    <section id="list-topics" class="list-topics">
        <div class="container">
            <div class="list-topics-content">
                <ul>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i class="flaticon-restaurant"></i>
                            </div>
                            <h2><a href="#">Restaurante</a></h2>
                            {% with restaurant_counter=0 %}
                                {% for local in locals %}
                                    {% if local.category == "Restaurantes" %}
                                        {% with restaurant_counter=restaurant_counter|add:1 %}
                                        {% endwith %}
                                    {% endif %}
                                {% endfor %}
                                <p>{{ restaurant_counter }} Restaurantes</p>
                            {% endwith %}
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i class="flaticon-travel"></i>
                            </div>
                            <h2><a href="#">Destinos</a></h2>
                            <p>214 listings</p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i class="flaticon-building"></i>
                            </div>
                            <h2><a href="#">Hoteis</a></h2>
                            <p>185 listings</p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i class="flaticon-pills"></i>
                            </div>
                            <h2><a href="#">Cuidados</a></h2>
                            <p>200 listings</p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i class="flaticon-transport"></i>
                            </div>
                            <h2><a href="#">Autos</a></h2>
                            <p>120 listings</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!--/.container-->

    </section><!--/.list-topics-->
    <!--list-topics end-->
    <section id="works" class="works">
        <div class="container">
            <div class="section-header">
                <h2>Como funciona</h2>
                <p>Descubra como nosso site pode ajudá-lo a planejar a viagem perfeita</p>
            </div><!--/.section-header-->
            <div class="works-content">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-how-works">
                            <div class="single-how-works-icon">
                                <i class="flaticon-lightbulb-idea"></i>
                            </div>
                            <h2><a href="#">Escolha <span> o que</span> fazer</a></h2>
                            <p>
                                Navegue pelas nossas categorias e escolha o que deseja fazer na sua viagem. Seja visitar um restaurante local, ficar em um hotel aconchegante ou explorar praças públicas.
                            </p>
                            <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                                Saiba mais
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-how-works">
                            <div class="single-how-works-icon">
                                <i class="flaticon-networking"></i>
                            </div>
                            <h2><a href="#">Encontre <span> o que você quer</span></a></h2>
                            <p>
                                Use nossos filtros personalizados para encontrar exatamente o que você está procurando. Nós facilitamos a busca para que você possa focar em desfrutar da sua viagem.
                            </p>
                            <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                                Saiba mais
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-how-works">
                            <div class="single-how-works-icon">
                                <i class="flaticon-location-on-road"></i>
                            </div>
                            <h2><a href="#">Explore <span> lugares</span> incríveis</a></h2>
                            <p>
                                Descubra novos lugares e experiências incríveis. Nós fornecemos todas as informações que você precisa para explorar novos destinos.
                            </p>
                            <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                                Saiba mais
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    
    </section><!--/.works-->
    

    <!--explore start -->

    <section id="explore" class="explore">
        <div class="container">
            <div class="section-header">
                <h2>Explorar</h2>
                <p>Explore novos lugares, comidas, e cultura em todo o nordeste.</p>
            </div><!--/.section-header-->
            
            <div class="explore-content">

                
                <div class="explore-content">
                    <div class="row">
                        {% for local in locals %}
                        <div class=" col-md-4 col-sm-6">
                            <div class="single-explore-item">
                                <div class="single-explore-img">
                                    <img src="{{local.photo.url}} " alt="explore image">
                                    <div class="single-explore-img-info">
                                        <button onclick="window.location.href='#'">best rated</button>
                                        <div class="single-explore-image-icon-box">
                                            <ul>
                                                <li>
                                                    <div class="single-explore-image-icon">
                                                        <i class="fa fa-arrows-alt"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="single-explore-image-icon">
                                                        <i class="fa fa-bookmark-o"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-explore-txt bg-theme-1">
                                    <h2><a href="#">{{local.name}}</a></h2>
                                    <p class="explore-rating-price">
                                        <span class="explore-rating">{{local.avaliation}}</span>
                                     
                                        <span class="explore-price-box">
                                            Média de preço:
                                            <span class="explore-price">{{local.price_range}}</span>
                                        </span>
                                            <a href="#">{{local.category}}</a>
                                    </p>
                                    <div class="explore-person">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="explore-person-img">
                                                    <a href="#">
                                                        
                                                        <img src="{{local.photo.url}} " alt="explore person">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-sm-10">
                                                <p>
                                                    {{local.description}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="explore-open-close-part">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <button class="close-btn" onclick="window.location.href='#'">{{local.location.city}}</button>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="explore-map-icon">
                                                    <a href="#"><i data-feather="map-pin"></i></a>
                                                    <a href="#"><i data-feather="upload"></i></a>
                                                    <a href="#"><i data-feather="heart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         
            {% endfor %}

    </section><!--/.explore-->
    <!--explore end -->

    <!--reviews start -->
    <section id="reviews" class="reviews">
        <div class="section-header">
            <h2>clients reviews</h2>
            <p>What our client say about us</p>
        </div><!--/.section-header-->
        <div class="reviews-content">
            <div class="testimonial-carousel">
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="assets/images/clients/c1.png" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>Tom Leakar</h2>
                                <h4>london, UK</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
                            </p>
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="assets/images/clients/c2.png" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>monirul islam</h2>
                                <h4>london, UK</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
                            </p>
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="assets/images/clients/c3.png" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>Shohrab Hossain</h2>
                                <h4>london, UK</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
                            </p>
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="assets/images/clients/c4.png" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>Tom Leakar</h2>
                                <h4>london, UK</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
                            </p>
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="assets/images/clients/c1.png" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>Tom Leakar</h2>
                                <h4>london, UK</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
                            </p>
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="assets/images/clients/c2.png" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>monirul islam</h2>
                                <h4>london, UK</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
                            </p>
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="assets/images/clients/c3.png" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>Shohrab Hossain</h2>
                                <h4>london, UK</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
                            </p>
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="assets/images/clients/c4.png" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>Tom Leakar</h2>
                                <h4>london, UK</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
                            </p>
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
            </div>
        </div>

    </section><!--/.reviews-->
    <!--reviews end -->

    <!--subscription strat -->
    <section id="contact"  class="subscription">
        <div class="container">
            <div class="subscribe-title text-center">
                <h2>
                    CONTATO
                </h2>
                <p>
                    Djangonilo e gustavo
                </p>
            </div>
            <div class="row">
                <div clas="collaborators">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-how-works">
                            <div class="single-how-works-icon">

                                <img src="../static/app/img/profile-pic (1) wo bg.png">
                            </div>
                            <h2><a href="#">Gustavo Atayde</a></h2>
                            <p>
                                Navegue pelas nossas categorias e escolha o que deseja fazer na sua viagem. Seja visitar um restaurante local, ficar em um hotel aconchegante ou explorar praças públicas.
                            </p>
                            <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                                Github
                            </button>
                        </div>
                    </div>  
                    <div class="col-md-4 col-sm-6">
                        <div class="single-how-works">
                            <div class="single-how-works-icon">

                                <img src="../static/app/img/danilo.png">
                            </div>
                            <h2><a href="#">Danilo Lucena</a></h2>
                            <p>
                                Navegue pelas nossas categorias e escolha o que deseja fazer na sua viagem. Seja visitar um restaurante local, ficar em um hotel aconchegante ou explorar praças públicas.
                            </p>
                            <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                                Github
                            </button>
                        </div>
                    </div>  

                </div>
            </div>
        </div>

    </section><!--/subscription-->	
    <!--subscription end -->

    <script src="{% static 'app/assets/js/jquery.js' %}"></script>

    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    <script src="{% static 'app/assets/js/bootstrap.min.js' %}"></script>

    <!-- bootsnav js -->
    <script src="{% static 'app/assets/js/bootsnav.js' %}"></script>

    <!--feather.min.js-->
    <script  src="{% static 'app/assets/js/feather.min.js' %}"></script>

    <!-- counter js -->
    <script src="{% static 'app/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'app/assets/js/waypoints.min.js' %}"></script>

    <!--slick.min.js-->
    <script src="{% static 'app/assets/js/slick.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
            

    <script src="{% static 'app/assets/js/custom.js' %}"></script>
    {% endblock  %}
</div>

